* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
}

div {
    display: flex;
    height: 80px;
    width: 320px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

button {
    display: flex;
    height: 80px;
    width: 320px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.answer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 50px;
    font-size: 40px;
    border: black solid 1px;
    border-radius: 5px;
    padding-right: 5px;
    /* background-color: rgb(240, 240, 240); */
}